<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Hello from login page</h1>
    <form action="/submit" method="post">
        <input type="text" name="name" placeholder="name"><br><br>
        <input type="text" name="email" placeholder="email"><br><br>
        <input type="number" name="mobileNo" placeholder="mobile number"><br><br>
        <input type="text" name="username" placeholder="username"><br><br>
        <input type="password" name="password" placeholder="enter password here"><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>