<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/postBlog" method="post">
        <input type="text" name="title"><br>
        <textarea rows="10" name="content"></textarea><br>
        <input type="text" name="author"><br>
        <button type="submit">submit</button>
    </form>
</body>
</html>