.form {
  padding: 20px;
}

.section {
  display: flex;
  gap: .3rem;
}

.form-login {
  padding: 5rem;
  border-radius: 10%;
  /* box-shadow: 10px 10px; */
}

.navbar {
  margin: 2rem;
  padding: 1rem;
  /* backdrop-filter: blur(5px); */
}

.border-bottom {

  /* background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172); */
  background: linear-gradient(300deg, #0f0c29, #302b63, #24243e);
}

.container1>h2 {
  color: rgb(30, 168, 232);
  font-weight: 900;
  font-size: 3rem;
}

.blog-button {
  padding: 0;
  border: none;
  background: none;
  filter: blur(1px);
}

.blog-button>Link {
  color: inherit;
}

.blog-button :hover {
  padding: 2px;
  transition-duration: 100ms;
}

.blog>img {
  height: 20rem;
  width: 60%;
}

.nav-bar {
  background: linear-gradient(300deg, #0f0c29, #302b63, #24243e);
  color: white
}

.cards :hover {
  /* padding:2px;
  transition-duration:100ms ; */
  transform: scale(1.01);
  /* Slightly increases the card size */
  transition: transform 0.3s, box-shadow 0.3s;
}

li {
  list-style-type: none;
}

.linking {
  color: inherit;
  text-decoration: none;
}

.linking :hover {
  /* padding:2px;
  transition-duration:100ms ease; */

  transform: scale(1.01);
  /* Slightly increases the card size */
  transition: transform 0.3s, box-shadow 0.3s;

}

.card-body {
  transition: none;
  /* Prevents inner elements from inheriting the scale */
}

/* .heroButton :hover{
  hover effct fro start reading button
} */

.conatanier1 {
  width: 100%;
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboardCard :hover {
  transform: scale(1.01);
  /* Slightly increases the card size */
  transition: transform 0.3s, box-shadow 0.3s;
}

p>em {

  font-size: larger;
  color: white;
  font-weight: 300;

}

p>span {
  font-size: large;
  color: white;
  font-weight: 600;
  margin-right: 4px;
}

.like {
  color: grey;
  transition: transform 0.3s ease-in-out 0.1s, color 0.3s ease-in-out 0.1s;
  /* Added a 0.1s delay */
}

.like:hover {
  color: rgb(255, 136, 0);
  transform: scale(1.1);
}

.others {
  color: rgb(5, 0, 0);
  transition: transform 0.3s ease-in-out 0.1s, color 0.3s ease-in-out 0.1s;
  /* Added a 0.1s delay */
}

.others:hover {
  color: rgb(0, 174, 255);
  transform: scale(1.1);
}

.circular-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;

  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.footter {
  background: linear-gradient(300deg, #0f0c29, #302b63, #24243e);
  color: white
}

.bd-placeholder-img {
  border-radius: 5%;
}

.allBlogscurrentPost {
  max-width: 1000px;
}

.forPagination {
  display: flex;
  justify-content: flex-end;
}

.BlogVercelStyling {
  width: 50rem;
}

.UserDashboardVercel {
  overflow-x: scroll;
}

.card-img-overlayStyle {
  overflow: hidden;
}

.overflow-hiddenVercel {
  max-height: 30vh;
}

.img-fluidVercel {
  height: 45vh;
}

.text-decoration-noneVercel {
  gap: 4px;
  margin-top: 1rem;
}

.card-imgVercel {
  height: 50%;
}

.card-img-overlayVercel {
  overflow: hidden;
}

.itemsVercel {
  display: flex;
  flex-direction: column;
  align-items: "center";
  gap: 10px;
}

.CDBVercel{
  text-align: center;
}

.sidebar-btn-wrapperVercel{
  padding: 20px 5px;
}
.contentVercel{
  overflowX:scroll;
}
.BlogtopVercel{
  display: flex;
  justify-content: center;
  align-items: center;
}
.operationsVercel{
  display: flex;
  justify-content: space-between; 
}
.img-fluidVercelStyle{
  width: 50rem;
  height: 100vh;
}
.form-loginVercel{
  display:flex;
  justify-content:center;
  align-items:center;
}
.signUpVercelStyle{
  width:30rem;
}
.flex-shrinkVercel{
  width: 280px;
}